body {
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  height: 100vh;
  font-family: 'Inter, Arial, sans-serif';
}

.react-flow-container {
  flex: 1;
  position: relative;
}
